<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Track order</ion-title>
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="font-family: Arial, Helvetica, sans-serif;">
  <div id="container">

  <div id="orderStatus" style="background-color: rgb(149, 211, 190);color: rgb(11, 114, 7);" class="ion-text-center ion-padding-vertical" [innerHTML]="orderDetails.status | orderStatus" >
  </div >

  <div class="ion-text-left" color="dark" >
  <h3 class="ion-text-center">Delivery details </h3>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-text color="dark">
            Hotel Name : 
          </ion-text>
        </ion-col>
        <ion-col size="8">
          <ion-text color="success">
            {{ orderDetails.hotelName }}
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-text color="dark">
            Address :
          </ion-text>
        </ion-col>
        <ion-col size="8">
          <ion-text color="success">
            {{ orderDetails.address}}
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-text color="dark">
            Name :
          </ion-text>
        </ion-col>
        <ion-col size="8">
          <ion-text color="success">
            {{ orderDetails.userName}}
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
  <h3 class="ion-text-center">Order details </h3>
  <ion-grid>
    <ion-row class="ion-text-left ion-text-bold background-gray">
      <ion-col size="6">
        <h5>Item</h5>
      </ion-col>
      <ion-col size="2">
        <h5>Price</h5>
      </ion-col>
      <ion-col size="2">
        <h5>Qt.</h5>
      </ion-col>
      <ion-col size="2">
        <h5>Total</h5>
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-left " *ngFor="let item of orderDetails.itemList" style="border-bottom: 1px solid rgb(243, 243, 243);">
      <ion-col size="6">
        {{item.name}}
      </ion-col>
      <ion-col size="2">
        ₹  {{item.price}}
      </ion-col>
      <ion-col size="2">
        {{item.quantity}}
      </ion-col>
      <ion-col size="2">
        ₹ {{item.price * item.quantity}}
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-left"  style="border-bottom: 1px solid rgb(243, 243, 243);">
      <ion-col size="10">
        Delivery charges 
      </ion-col>
      <ion-col size="2">
        {{orderDetails.deliveryCharge}}
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-left"  style="border-bottom: 1px solid rgb(243, 243, 243);" *ngIf ="orderDetails.status == 2 || orderDetails.status == 3 ||orderDetails.status == 4">
      <ion-col size="10">
        Delivery charges 
      </ion-col>
      <ion-col size="2">
        ₹ 10
      </ion-col>
    </ion-row>


    <ion-row class="ion-text-left"  style="font-family: Arial, Helvetica, sans-serif;">
      <ion-col size="5">
        <h4>To be paid </h4>
      </ion-col>
      <ion-col size="7" class="ion-text-right">
        <h4 *ngIf ="orderDetails.status == 2 || orderDetails.status == 3 ||orderDetails.status == 4"> ₹ {{totalCost + orderDetails.deliveryCharge }} </h4>
        <h6 *ngIf ="orderDetails.status == 1 || orderDetails.status == 5"> ₹ {{totalCost + "+ Delivery Charge"}} </h6>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button (click)="callCustomer()" color="success" size="full" class="ion-margin" *ngIf="orderDetails.status >= 2"><ion-icon name="call"></ion-icon>Call Delivery</ion-button>
</div>
</ion-content>