ion-content{
    font-family: 'Raleway', sans-serif;
}
.background-gray{
    background-color: gainsboro;
    font-weight: bold;
    padding:3px;
}

#orderStatus{
    background-color: gainsboro;
    
}