ion-avatar{
    --border-radius: 10px;
    height:70px;
    width: 70px;
}
label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(126, 120, 120);
}
